<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragment/head::head(pageTitle='Редактировать')">
<body class="admin-page">

<div th:replace="fragment/navbar::navbar"></div>
<div style="display: flex; flex: 1; width: 100%;">
    <div th:replace="fragment/sidebar::sidebar(currentPage='users')"></div>

    <div class="main">
        <div class="section">
            <h1>Данные пользователя</h1>
            <div class="user-info">
                <div>
                    <strong>ФИО:</strong>
                    <span th:text="${user.lastName}+' '+${user.firstName}"></span>
                </div>
                <div>
                    <strong>Телефон:</strong>
                    <span th:text="${user.phone}"></span>
                </div>
                <div>
                    <strong>Email:</strong>
                    <span th:text="${user.email}"></span>
                </div>
                <div>
                    <strong>Роль:</strong>
                    <form th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:method="POST">
                    <select name="roleId" id="role">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"  th:selected="${role == user.role}"></option>
                    </select>
                    <button id="saveButton" type="submit"><i class="fa-solid fa-floppy-disk"></i></button>
                    </form>
                </div>
                <div>
                    <strong>Подписка:</strong>
                    <span>Базовый</span>
                </div>
                <div style="display: block" th:if="${addresses != null and !addresses.isEmpty()}" th:each="address : ${addresses}">
                    <div>
                        <strong>Адрес:</strong>
                        <a th:href="@{/admin/addresses/{id}(id=${address.id})}" th:text="${address.addressName}"></a>
                    </div>
                    <div>
                        <strong>Шлагбаум:</strong>
                        <div style="display: block">
                            <p th:each="barrier : ${address.barriers}" th:text="${barrier.name}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <h1>История действий</h1>
            <div class="user-info">
                <div>
                    <strong>15.04.2025, 08:42</strong>
                    <span>Открыт шлагбаум 2</span>
                </div>
                <div>
                    <strong>14.04.2025, 18:15</strong>
                    <span>Открыт шлагбаум 2</span>
                </div>
                <div>
                    <strong>13.04.2025, 07:22</strong>
                    <span>Открыт шлагбаум 2</span>
                </div>
                <div>
                    <strong>12.04.2025, 12:05</strong>
                    <span>Открыт шлагбаум 2</span>
                </div>
                <div>
                    <strong>10.04.2025, 19:43</strong>
                    <span>Открыт шлагбаум 2</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
