<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragment/head::head(pageTitle='Управление Адресами')">
</head>
<body class="admin-page">

<div th:replace="fragment/navbar::navbar"></div>
<div style="display: flex; flex: 1; width: 100%;">
  <div th:replace="fragment/sidebar::sidebar(currentPage='address')"></div>

  <div class="main">
    <section id="barriers">
      <a th:href="@{/admin/addresses}"><-Назад</a>
      <h1>Адреса</h1>
      <form th:action="@{'/admin/addresses/'+${address.id}}" th:object="${address}" th:method="POST">
        <label for="addressName">Полный Адрес(Город, улица, ЖК): </label>
        <input type="text" id="addressName" th:field="*{addressName}" required/>
        <div th:if="${#fields.hasErrors('addressName')}" th:errors="*{addressName}" style="color:red;"></div>
        <br/>

        <button type="submit">Обновить</button>
      </form>

    </section>
  </div>
</div>

</body>
</html>
