<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragment/head::head(pageTitle='Адрес')}">
<body>

<div th:replace="~{fragment/navbar::navbar}"></div>
<div style="display: flex; flex: 1; width: 100%;">
    <div th:replace="~{fragment/sidebar::sidebar(currentPage='address')}"></div>

    <div class="main">
        <div class="section">
            <a th:href="@{/admin/addresses}"><-Назад</a>
            <h1>Данные по Адресу</h1>
            <div class="user-info">
                <div>
                    <strong>Адрес:</strong>
                    <span th:text="${address.addressName}"></span>
                </div>
                <div>
                    <a class="add-button btn" th:href="@{'/admin/addresses/'+${address.id}+'/create'}">Добавить шлагбаум</a>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Шлагбаум</th>
                            <th>Тип связи</th>
                            <th>Статус</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="barrier : ${barriers}">
                            <td th:text="${barrier.id}"></td>
                            <td th:text="${barrier.name}"></td>
                            <td th:text="${barrier.connection.name}"></td>
                            <td th:text="${barrier.status? 'Открыт' : 'Закрыт'}"></td>
                            <td class="action-icons">
                                <a th:href="@{/admin/addresses/{address_id}/edit/{id}(address_id=${address.id},id=${barrier.id})}"><i class="fa-solid fa-pen"></i></a>
                                <a th:href="@{/admin/addresses/{address_id}/delete/{id}(address_id=${address.id},id=${barrier.id})}"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="section">
            <form th:action="@{/admin/addresses/{id}(id=${address.id})}" method="get">
                <input type="text" name="search" th:value="${search}" placeholder="Поиск..." />
                <button type="submit">Найти</button>
            </form>
            <button th:if="${search!=null}"  onclick="clearParamsAndReload()">Очистить</button>
            <table th:if="${searchedUsers != null and !searchedUsers.isEmpty()}">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Добавить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="searchedUser : ${searchedUsers}">
                    <td th:text="${searchedUser.id}"></td>
                    <td th:text="${searchedUser.firstName} + ' ' + ${searchedUser.lastName}"></td>
                    <td th:text="${searchedUser.email}"></td>
                    <td th:text="${searchedUser.phone}"></td>
                    <td class="action-icons">
                        <a th:href="@{/admin/users/edit/{id}(id=${searchedUser.id})}"><i class="fa-solid fa-pen"></i></a>
                        <form th:action="@{/admin/addresses/{address_id}/add-user/{user_Id}(address_id=${address.id}, user_Id=${searchedUser.id})}" th:method="POST">
                            <button type="submit" class="btn"><i class="fa-solid fa-plus"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <h1>Пользователи</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Роль</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Активен</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.role.name == 'ROLE_ADMIN' ? 'Admin' : 'User'}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.expired ? 'Нет' : 'Да'}"></td>
                        <td class="action-icons">
                            <a th:href="@{/admin/users/edit/{id}(id=${user.id})}"><i class="fa-solid fa-pen"></i></a>
                            <form th:action="@{/admin/addresses/{address_id}/remove-user/{user_Id}(address_id=${address.id}, user_Id=${user.id})}" th:method="POST">
                                <button type="submit" class="btn"><i class="fa-solid fa-minus"></i></button>
                            </form>
                            <a th:href="@{/admin/users/delete/{id}(id=${user.id})}"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function clearParamsAndReload() {
        const url = window.location.origin + window.location.pathname;
        window.location.href = url;
    }
</script>
</body>
</html>
